.container {
  margin: 20px;
}

.clear {
  clear: both;
}

span {
  background-color: #2196f3;
  color: white;
  opacity: .8;
  
  /* box model */
  float: left;
  padding: 15px;
  margin-right: 35px;
  border-radius: 10px;
  width: 90px;
  height: 90px;

  /* font & text */
  font-size: 100px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  line-height: 90px;
}

p {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;

  /* box model */
  float: left;
  padding: 15px;
  margin: 0px;
  width: 400px;
  height: 90px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  position: relative;
}

p::after {
  content: "";
  height: 120px;
  width: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #2196f3;

  position: absolute;
  top: 0px;
  right: -12px;
}

p::before {
  content: "";
  height: 0px;
  width: 0px;

  border: 20px solid transparent;
  border-right-color: #2196f3;

  position: absolute;
  top: calc(50% - 20px);
  left: -43px;
}